<template>
  <div class="topics">
    <h1>Topics</h1>

    <ul>
        <li v-for="item in topics" class="topic">
            <a class="title">{{ item.title }}</a>
            <span class="author">by {{ item.displayName }}</span>
        </li>
    </ul>
    <button v-if="previousPage" @click="getTopics(previousPage)">Previous</button>
    <button v-if="nextPage" @click="getTopics(nextPage)">Next</button>
  </div>
</template>

<style>
.topics {
  border: 1px solid #ddd;
  padding: 1em;
}
.topic .author {
  font-style: italic;
}
</style>

<script>
export default {
  data () {
    return {
      // note: changing this line won't causes changes
      // with hot-reload because the reloaded component
      // preserves its current state and we are modifying
      // its initial state.
      topics: [],
      posts: {},
      page: 1,
      limit: 10,
      nextPage: null,
      previousPage: null
    }
  },
  http: {
    root: 'https://bptransitions.tuimedia.com:8443/forum/test'
  },
  methods: {
    getTopics: function (page) {
      this.$http.get('topics/', {
        include: ['displayNames', 'posts'].join(','),
        page: page,
        limit: this.limit
      }).then(function (response) {

        this.topics = response.data.data
        this.page = response.data.meta.page

        this.nextPage = response.data.meta.nextPage
        this.previousPage = response.data.meta.previousPage

      }, function (response) {
        // error
        console.log(response)
      })
    }
  },
  ready: function () {
    this.getTopics(1)
  }
}
</script>
