<template>
  <div id="app">
    <topics></topics>
  </div>
</template>

<script>
import Topics from './components/Topics'

export default {
  components: {
    Topics
  }
}
</script>

<style>
body {
  font-family: Helvetica, sans-serif;
}
</style>
